body {
  font-family: Consolas, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #2b6c30;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

.colors {
  display: flex;
  justify-content: center;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 0 5px;
  cursor: pointer;
}

.color:hover {
  opacity: 0.7;
}

#guessCode {
  display: flex;
  justify-content: center;
  height: 30px;  
}

#guessCode .peg {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right: 10px;
}

#result {
  display: flex;
  justify-content: center;
  height: 20px;
}

#result .peg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
